
* {
  font-family: "Roboto", sans-serif;
  color: white;
}



@media only screen and (min-width: 600px) { /*---Desktop---*/
  .home-bkg {
    height: 100%;
  }
  .scroll-down {
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-color: transparent;
    color: white;
    left: 50%;
    margin-bottom: 20px;
  }
  .nav-menu {
    visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 35px;
    text-align: center;
    position: fixed;
    height: 100%;
    background-color: gray;
    width: 0;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .first-image-bkg  {
    background-image: url("./images/HI_RES_NA.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
  .image-segment  {
    height: 35%;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }
  .image-segment#blue-img {
    background-image: url("./images/Blue.jpg");
  }
}

.nav-menu div {
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-menu div:hover {
  color: red;
}

@media only screen and (max-width: 600px) { /*---Mobile---*/
  .home-bkg {
    height: 100%;
  }
  .first-image-bkg  {
    background-image: url("./images/HI_RES_NA.jpeg");
    background-position: bottom;
    background-size: cover;
    height: 100%
  }
  .image-segment  {
    height: 35%;
    background-size: cover;
    background-position: bottom;
  }
  .image-segment#blue-img {
    background-image: url("./images/Blue.jpg");
  }
  .nav-menu {
    color: white;
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    visibility: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
  }
  .scroll-down  {
    display: none;
  }
}

.home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 75%;
}

.scroll-down  {
  cursor: pointer;
}

.na {
  background-color: #000;
  color: #FFF;
  font-family: inherit;
}

.title  {
  color: #818181;
  font-size: 10vw;
  font-family: "Roboto Slab", sans-serif;
}

@keyframes slide-in {
  0%  {width: 0}
  100%  {width: 20vw; visibility: visible}
}

@keyframes slide-out {
  0%  {width: 20vw}
  100%%  {width: 0; visibility: hidden}
}

@keyframes fade-in {
  0%  {width: 100%; opacity: 0}
  100%  {width: 100%; opacity: 1; visibility: visible}
}

@keyframes fade-out {
  0%  {width: 100%; opacity: 1}
  100%  {width: 0; opacity: 0; visibility: hidden}
}

.sticky-button  {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.sticky-button:hover  {
  color: red;
  transition: 0.3s;
}

.width-segment  {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}
